.file-control {
  display: grid;
  place-items: center;
  aspect-ratio: 3 / 4;
}

@media (min-width: 49rem) {
  .file-control {
    aspect-ratio: 5 / 4;
  }
}

.file-control__message-container {
  display: grid;
  place-items: center;
  border: var(--_children-border-width) solid var(--clr-accent-theme);
  border-radius: var(--_children-border-radius);
}

.file-control__message-container,
.file-control__file-input-container {
  justify-self: stretch;
  height: 100%;
}

.file-control__file-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: color-mix(
    in oklab,
    var(--bg-theme) 96%,
    var(--clr-accent-theme) 4%
  );
  border: 2px dashed var(--clr-accent-theme);
  border-radius: var(--_children-border-radius);
  transition: background-color var(--animation-duration-500)
    var(--default-animation-timing-function);
}

.file-input {
  color: var(--clr-btn-theme);
  background-color: var(--clr-accent-theme);
  border: none;
  transition-property: color, background-color;
  transition-duration: var(--animation-duration-300),
    var(--animation-duration-500);
  transition-timing-function: var(--default-animation-timing-function);
}

.file-input {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.file-input svg {
  width: 1em;
  height: 1em;
}

.file-input:hover,
.file-input:focus-within {
  background-color: var(--bg-btn-hover);
}

.dropzone-active {
  color: var(--clr-secondary-text);
  background-color: color-mix(
    in oklab,
    var(--bg-theme) 80%,
    var(--clr-accent-theme) 20%
  );
  transition-property: background-color;
  transition-duration: var(--animation-duration-300);
}

.dropzone-active > svg {
  width: 3.15em;
  height: 3.15em;
}
