.image-control {
  display: grid;
  place-items: center;
}

.image-control__file-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 5 / 4;
  gap: 0.5em;
  background-color: color-mix(
    in oklab,
    var(--bg-theme) 96%,
    var(--clr-accent-theme) 4%
  );
  border: 2px dashed var(--clr-accent-theme);
  border-radius: 0.5em;
  transition: background-color var(--animation-duration-500)
    var(--default-animation-timing-function);
}

.file-input,
.image-control__submit {
  color: var(--clr-btn-theme);
  background-color: var(--clr-accent-theme);
  border: none;
  transition: background-color var(--animation-duration-300)
    var(--default-animation-timing-function);
}

.file-input {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.file-input svg {
  width: 1em;
  height: 1em;
}

.file-input:hover,
.file-input:focus-within,
.image-control__submit:hover,
.image-control__submit:focus-visible {
  background-color: var(--bg-btn-hover);
}

.image-control__files-container {
  --_border: 1px solid var(--clr-accent-theme);
  justify-self: stretch;
  display: grid;
  grid-auto-rows: 1fr;
  border: var(--_border);
  border-radius: 0.5em;
  overflow: hidden;
}

.image-control__file-item:not(:nth-last-child(2)) {
  border-block-end: var(--_border);
}

.image-control__files-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0.5em;
  border-block-start: var(--_border);
}

.image-control__submit {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding-inline: 1em 1.5em;
  outline: 1px solid transparent;
}

.arrow {
  --_width: 0.2em;
  --_stroke-width: 2px;

  border: solid var(--clr-btn-theme);
  border-width: 0 var(--_stroke-width) var(--_stroke-width) 0;
  display: inline-block;
  padding: var(--_width);
  rotate: -45deg;
  transition: translate var(--animation-duration-500)
    var(--default-animation-timing-function);
}

.image-control__submit:hover .arrow,
.image-control__submit:focus-visible .arrow {
  translate: 100%;
}
