---
import styles from "./ui/styles.module.css"
---

<header class={styles.navbar}>
	<div class="content-wrapper">
		<a class={styles.navbar__brand} href="/">
			<img
				src="/imageio-logo.webp"
				alt="Image IO logo"
				height="64"
				width="64"
			/>
			<span>Image IO</span>
		</a>
		<nav class={styles.navbar__nav}>
			<ul>
				<li>
					<a href="#convert"> Convert </a>
				</li>
				<li>
					<a href="#formats"> Formats </a>
				</li>
				<li>
					<a href="about"> About </a>
				</li>
			</ul>
		</nav>
	</div>
</header>
