---
import styles from "./ui/styles.module.css"
---

<header class={styles.navbar}>
	<a class={styles.navbar__brand} href="/">
		<!-- <img src="" alt="Image IO logo" /> -->
		<div class={styles.brand__test}></div>
		<span>Image IO</span>
	</a>
	<nav class={styles.navbar__nav}>
		<ul>
			<li>
				<a href="#convert"> Convert </a>
			</li>
			<li>
				<a href="#formats"> Formats </a>
			</li>
			<li>
				<a href="about"> About </a>
			</li>
		</ul>
	</nav>
</header>
