---
import Layout from "../layouts/Layout.astro"
import Navbar from "@widgets/Navbar"
import Main from "@widgets/Main"
import FileControlSection from "../widgets/FileControlSection"

const META_TITLE = "Image IO"
const META_DESCRIPTION =
	"Convert and optimize images without limit on Image IO."
---

<Layout title={META_TITLE} description={META_DESCRIPTION}>
	<Navbar client:only="react" />
	<Main client:only="react">
		<h1 class="fs-title fw-bold text-center">Image converter</h1>
		<p class="text-center">Convert and optimize images</p>
		<FileControlSection client:only="react" />
		<!-- 
    <ImageInputSection />
    <ParamsConfigSection />
    <SupportedFormatsSection />
    <AboutSection />
    -->
	</Main>
	<!-- <Footer /> -->
</Layout>
