---
import Layout from "../layouts/Layout.astro"
import Navbar from "../widgets/navbar"

const META_TITLE = "Image IO"
const META_DESCRIPTION =
	"Convert and optimize images without limit on Image IO."
---

<Layout title={META_TITLE} description={META_DESCRIPTION}>
	<Navbar />
	<!--
	<main>
    <HeroSection />
    <ImageInputSection />
    <ParamsDescriptionSection />
	</main>
  <Footer /> -->
</Layout>
