.file-control {
  --_children-border-width: 1px;
  --_children-border-radius: 0.5em;
  --_children-header-block-padding: 0.5em;

  display: grid;
  gap: 1em;
  padding-block: 2.5em;
  margin-inline: auto;
}

@media (min-width: 69rem) {
  .file-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6em;
    width: 90%;
  }
}
