.params-form {
  display: flex;
  flex-direction: column;
}

.params-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em;
  isolation: isolate;
  overflow-y: clip;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.action-alert {
  --_alert-margin: 0.25em;

  position: absolute;
  z-index: 2;
  right: var(--_alert-margin);
  top: var(--_alert-margin);
  opacity: 0;
  translate: 0 -100%;
  background-color: color-mix(
    in oklab,
    var(--clr-accent-theme) 45%,
    var(--bg-theme) 55%
  );
  padding: 0.25em 0.5em;
  border-radius: calc(var(--_children-border-radius) - var(--_alert-margin));
  transition-property: opacity, translate;
  transition-duration: var(--animation-duration-300),
    var(--animation-duration-500);
  transition-timing-function: var(--default-animation-timing-function);
}

.action-alert[data-shown] {
  opacity: 1;
  translate: 0 0;
}

.form-actions {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  border-block-start: var(--_container-border);
  border-end-start-radius: var(--_children-border-radius);
  border-end-end-radius: var(--_children-border-radius);
  overflow: clip;
}

.form-actions > button {
  height: 3.5em;
  padding-inline: 1em;
  transition-property: color, background-color;
  transition-duration: var(--animation-duration-300);
  transition-timing-function: var(--default-animation-timing-function);
}

.reset-btn {
  color: var(--clr-secondary-text);
}

.reset-btn:hover,
.reset-btn:focus-visible {
  background-color: color-mix(
    in oklab,
    var(--clr-accent-theme) 45%,
    var(--bg-theme) 55%
  );
}

.apply-btn {
  color: var(--clr-btn-theme);
  background-color: var(--clr-accent-theme);
}

.apply-btn:hover,
.apply-btn:focus-visible {
  background-color: var(--bg-btn-hover);
}
