.main {
  flex-grow: 1;
  padding-block-start: 2.5em;
  transition-property: background-color, color;
  transition-duration: var(--animation-duration-500),
    var(--animation-duration-300);
  transition-timing-function: var(--default-animation-timing-function);
}

@media (min-width: 69rem) {
  .main {
    padding-block-start: 2em;
  }
}
